*.pyc
*.npz
*.zip
*.npy
*.ckpt

models/wandb
models/checkpoints
models/lightning_logs

model/results

.vscode/

datasets/bm
datasets/weevil_vespula
datasets/wv_3d
datasets/wv_3d_linear

old/

embeds/wv_3d_alignments/
embeds/wv_3d_alignments_filtered/
embeds/wv_3d_noisy/
embeds/


*.png